/*Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
html, body{
	height: 100%;
}

.clear{
	clear: both;
}
/*Fim Reset*/


/*Inicio Cabeçalho*/
.cabecalho{
	width: 100%;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	padding: 10px;
}

.md-30{
	width: 30%;
}

.menu{
	width: 70%;
	text-align: right;
}


.menu ul li{
	list-style-position: inside;
	list-style: none;
	display: inline-block;
}

.menu ul li a{
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	color: #999999;
	display: inline-block;
	padding: 15px;
}
.menu ul li a:hover{
	background-color: #333;
	border-radius: 5px;
	color: #fff;
	transition: 0.5s;
}
.menu-mobile{
	width: 32px;
	height: 32px;
	background-image: url(../img/bares.png);
	cursor: pointer;
	display: none;
}
.menu-mobile ul{
	position: absolute;
	top: 75px;
	left: 0;
	width: 100%;
	background-color: #333;
	display: none;

}
.menu-mobile ul li{
	list-style: none;
	text-align: center;
	margin-top: 10px;
	text-transform: uppercase;
}
.menu-mobile ul li:last-child{
	margin-bottom: 10px;
}
.menu-mobile ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.menu-mobile ul li a:hover{
	color: #3598db;
	transition: 0.5s;
}
/*Fim cabeçalho*/


/*Banner Principal*/

.banner-principal{
	width: 100%;
	height: 600px;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;

}

.banner-principal .md-50{
	width: 50%;
}
.banner-principal .md-50 h1{
	padding: 0 0 0 100px;
	font-size: 3.5em;
	color: #fff;
	font-weight: normal;
}
.banner-principal .md-50 p{
	padding: 20px 0 0 100px;
	color: #f3f3f3;
	line-height: 25px;
	font-size: 14px;
	letter-spacing: 1px;
}

.banner-principal .md-50 a{
	text-decoration: none;
	margin: 25px 0 0 100px;
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
	color: #f3f3f3;
	border: 1px solid #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
}
.banner-principal .md-50 a:hover{
	background-color: #f3f3f3;
	color: #333;
	transition: 1s;
}
.md-50 .form{
	width: 60%;
	background-color: rgba(0,0,0, 0.7);
	margin: 0 auto;
}
.md-50 .form h2{
	background-color: rgba(0,0,0, 0.5);
	padding: 30px;
	font-size: 16px;
	text-align: center;
	color: #f3f3f3;
}
.md-50 .form p{
	padding: 20px 20px 0 20px;
	letter-spacing: 2px;
}
.md-50 .form input[type=text], input[type=email]{
	display: block;
	width: 90%;
	height: 50px;
	padding-left: 10px;
	font-size: 14px;
	margin-bottom: 100px;
	border:0;
	background-color: transparent;
	border-bottom: 1px solid #999999;
	outline: none;
	color: #f3f3f3;
	margin: 10px 20px 30px 20px;
	font-weight: 400;

}
.md-50 .form input[type=text]:nth-of-type(1){
	background-image: url(../img/user-icon.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: right;
}
.md-50 .form input[type=email]{
	background-image: url(../img/email-icon.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: right;
}
.md-50 .form input[type=text]:nth-of-type(3){
	background-image: url(../img/tel-icon.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: right;
}
.md-50 .form input:focus{
	border-bottom: 1px solid #3598db;
	background-color: transparent;
}

.md-50 .form span{
	padding-left: 20px;
	color: #999999;
	font-size: 14px;
	display: inline-block;
}

.md-50 .form input[type=submit]{
	display: block;
	width: 100%;
	margin-top: 40px;
	border: 0;
	padding: 15px;
	background-color: #3598db;
	color: #f3f3f3;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}
.md-50 .form input[type=submit]:hover{
	opacity: 0.8;
	transition: 0.5s;
}
/*Fim Banner Principal*/

/*Section Services*/
.section-services{
	width: 100%;
}
.section-services .titulo{
	width: 100%;
}
.section-services .titulo h1{
	text-align: center;
	margin-top: 30px;
	font-size: 2em;
	color: #333333;
}

.section-services-flex{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding: 50px;
}
.section-services-flex .md-30{
	width: calc(100% / 3);
	padding: 20px;
}

.section-services-flex .md-30 i{
	float: left;
	font-size: 4em;
	color: #999999;
	padding-right: 2%;
	margin-top: 15px;
}
.section-services-flex .md-30 h2{
	color: #333333;
	font-size: 18px;
	font-weight: 700;
	margin-top: 15px;
}
.section-services-flex .md-30 p{
	color: #333333;
	margin-bottom: 30px;
	margin-top: 5px;
	font-size: 14px;
	text-align: justify;
}
/*Fim Section Services*/

/*section-our-environment*/
.section-our-environment{
	width: 100%;
	background-color: #f6f6f6;
}
.section-our-environment h1{
	text-align: center;
	font-size: 2em;
	color: #333333;
	padding-top: 50px;
}

.section-our-environment-flex{
	display: flex;
	width: 100%;
}

.section-our-environment-flex .environment-30{
	width: calc(100% / 3);
	padding: 20px 50px 60px 50px;
}
.section-our-environment-flex .environment-30 img{
	width: 100%;
	margin-top: 30px;
}
.section-our-environment-flex .environment-30 h2{
	color: #333333;
	font-size: 21px;
	font-weight: 400;
	margin-top: 20px;
}
.section-our-environment-flex .environment-30 p{
	color: #555555;
	font-size: 16px;
	font-weight: 400;
	margin-top: 20px;
	text-align: justify;
}
/*Fim section-our-environment*/

/*Outher*/
.outher{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 0;
	flex-wrap: wrap;
}
.img-50{
	width: 50%;
}
.img-50 img{
	width: 100%;
}
.txt-50{
	width: 50%;
	padding: 30px;
}
.txt-50 h1{
	color: #333333;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 26px;
}

.txt-50 p{
	margin-top: 20px;
	letter-spacing: 1px;
	text-align: justify;
	padding-right: 60px;
}
/*Fim outher*/

/*Newsletter*/
.newsletter{
	background-image: url(../img/banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.newsletter h1{
	color: #f3f3f3;
	font-size: 2em;
}
.newsletter p{
	max-width: 700px;
	margin-top: 30px;
	color: #f3f3f3;
	letter-spacing: 1px;
}
.newsletter input[type=email]{
	width: 80%;
	display: block;
	margin: 30px auto;
	color: #f3f3f3;
	border:2px solid #3598db;
}
.newsletter input[type=email]:focus{
	transition:0.5s;
	background-color: #f3f3f3;
	border: none;
	color: #333;
	padding-left: 20px;
}

.newsletter ::-webkit-input-placeholder {
   color: #f3f3f3;
}
 
.newsletter :-moz-placeholder { /* Firefox 18- */
   color: #f3f3f3;  
}
 
.newsletter ::-moz-placeholder {  /* Firefox 19+ */
   color: #f3f3f3;  
}
 
.newsletter :-ms-input-placeholder {  
   color: #f3f3f3;  
 }

 .newsletter input[type=submit]{
 	width: 20%;
 	padding: 10px;
 	border: 0;
 	cursor: pointer;
 	background-color: #3598db;
 	color: #f3f3f3;
 	text-transform: uppercase;
 	font-weight: 700;
 	font-size: 12px;
 	border-radius: 5px;
 	outline: none;
 }
 .newsletter input[type=submit]:hover{
 	opacity: 0.8;
 	transition: 0.5s;
 }
/*Fim Newsletter*/
.map{
	width: 100%;
	display: flex;
	background-color: rgba(230,230,230, 0.3);
	flex-direction: column;
	align-items: center;
}

.map h1{
	margin: 20px 0;
	color: #555555;
	font-size: 2em;
}

.moldura{
	width: 400px;
	height: 400px;
	border: 2px solid #333;
	margin-bottom: 20px;
}
/*Footer*/
footer{
	width: 100%;
}
.section-rodape{
	background-color: #111;
	color: #fff;
	padding: 30px 30px 0 30px;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 1px;
}

.section-rodape a{
	color: #fff;
}
.section-rodape i{
	font-size: 30px;
	margin-left: 10px;
	margin-top: 5px;
	cursor: pointer;
}
.section-rodape a:nth-of-type(1) i:hover{
	color: #833AB4;
}
.section-rodape a:nth-of-type(2) i:hover{
	color: #ccc;
}
.section-rodape p{
	padding-top: 10px;
}
.section-rodape div p:nth-of-type(1){
	color: #3598db;
}
/*Fim footer*/

/*Inicio responsive*/

@media screen and (max-width: 1020px){
	.banner-principal {
		flex-direction: column;
		height: auto;
		background-attachment: fixed;
	}
	.banner-principal .md-50{
		width: 100%;
		margin: 30px 0 30px 0;
	}
	.section-services-flex .md-30 i{
		float: none;
	}
	.section-our-environment-flex{
		flex-direction: column;
	}
	.section-our-environment-flex .environment-30{
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.section-our-environment-flex .environment-30 img{
		width: 500px;
	}
	.section-our-environment-flex .environment-30 p{
		text-align: center;
	}
	.outher{
		flex-direction: column;
	}
	.outher .img-50{
		width: 96%;
	}
	.outher .txt-50{
		width: 100%;
		padding-right: 0;
	}
}
@media screen and (max-width: 860px){
	.section-services-flex .md-30 i{
		float: left;
		margin-top: -5px;
	}
	.section-services-flex .md-30{
		width: 100%;
		padding: 2%;
	}
	.section-services-flex{
		flex-direction: column;
	}
}
@media screen and (max-width: 700px){
	/*.md-30{
		width: 100%;
		background-color: red;
	}*/
	.container{
		justify-content: space-between;
	}
	.container i{
		display: block;
		text-align: right;
		cursor: pointer;
	}
	.banner-principal{
		padding: 2%;
	}
	.banner-principal .md-50 h1, .banner-principal .md-50 p{
		padding: 0;
		margin: 0;
	}
	.banner-principal .md-50 a{
		margin: 10px 0 0 0;
	}
	.md-50 .form{
		width: 100%;
	}
	.md-50 .form p{
		padding: 15px;
	}
	.section-services-flex{
		padding: 2%;
	}
	.section-services-flex .md-30 h2{
		text-align: left;
	}
	.section-services-flex .md-30:nth-of-type(2) i{
		font-size: 5em;
		margin-right: 3px;
	}
	.section-services-flex .md-30:nth-of-type(3) i{
		font-size: 4.5em;
	}
	.section-services-flex .md-30:nth-of-type(5) i{
		font-size: 6em;
	}
	.section-services-flex .md-30 p{
		text-align: justify;
	}
	.section-our-environment-flex .environment-30 img{
		width: 96%;
		margin-top: 30px;
	}
	.section-our-environment-flex .environment-30 {
		padding: 0;
	}
	.section-our-environment-flex .environment-30 p{
		padding: 5%;
	}
	.outher{
		text-align: center;
	}
	.outher .txt-50, .outher .txt-50 p{
		width: 100%;
		padding: 2%;
	}
	footer p{
		padding-top: 10px;
	}
	.menu{
		display: none;
	}
	.menu-mobile{
		display: block;
	}
}

@media screen and (max-width: 520px){
	.section-services-flex p{
		padding: 2%;
	}
	.section-services-flex .md-30 i{
		margin-top: 20px;
	}
	.banner-principal .md-50 h1{
		font-size: 2em;
	}

}
/*Fim responsive*/